{% extends 'home.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

<!--Carousel Wrapper-->
<div id="carousel-example-1z" class=" card carousel slide carousel-fade" data-ride="carousel">
  <!--Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-1z" data-slide-to="1"></li>
    <li data-target="#carousel-example-1z" data-slide-to="2"></li>
  </ol>
  <!--/.Indicators-->
  <!--Slides-->
  <div class="carousel-inner" role="listbox">
    <!--First slide-->
    <div class="carousel-item active">
      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg" alt="First slide">
    </div>
    <!--/First slide-->
    <!--Second slide-->
    <div class="carousel-item">
      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(129).jpg" alt="Second slide">
    </div>
    <!--/Second slide-->
    <!--Third slide-->
    <div class="carousel-item">
      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(129).jpg" alt="Second slide">
    </div>
    <!--/.Third slide-->
  </div>
  <!--/.Slides-->
  <!--Controls-->
  <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  <!--/.Controls-->
</div>
<!--/.Carousel Wrapper-->
<!--Main Layout-->
    <main>

        <div class="container card">

            <!--Section: Features v.4-->
            <section class="section wow fadeIn" data-wow-delay="0.3s">

                <!--Section heading-->
                <h1 class="font-weight-bold text-center h1 my-5">Encore plus génial que tu ne le pense !</h1>
                <!--Section description-->
                <p class="text-center grey-text mb-5 mx-auto w-responsive lead"></p>

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-4">

                        <!--Grid row-->
                        <div class="row mb-2">
                            <div class="col-2">
                                <i class="fa fa-2x fa-flag-checkered indigo-text"></i>
                            </div>
                            <div class="col-10">
                                <h5 class="font-weight-bold mb-4">Polymorphe</h5>
                                <p class="grey-text">Il y a la possibilité d'apprendre n'importe quel forme de schéma.Que ce soit arrondi, coloré, avec ou sans bordure</p>
                            </div>
                        </div>
                        <!--Grid row-->

                        <!--Grid row-->
                        <div class="row mb-2">
                            <div class="col-2">
                                <i class="fa fa-2x fa-flask blue-text"></i>
                            </div>
                            <div class="col-10">
                                <h5 class="font-weight-bold mb-4">Optimisation</h5>
                                <p class="grey-text">Les schémas sont à la base de tout apprentissage, mais ont d'autres noms</p>
                            </div>
                        </div>
                        <!--Grid row-->

                        <!--Grid row-->
                        <div class="row mb-2">
                            <div class="col-2">
                                <i class="fa fa-2x fa-glass cyan-text"></i>
                            </div>
                            <div class="col-10">
                                <h5 class="font-weight-bold mb-4">Original</h5>
                                <p class="grey-text">Un concept original vu nulle part ailleur</p>
                            </div>
                        </div>
                        <!--Grid row-->

                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-4 mb-2 text-center text-md-left flex-center">
                        <img src="https://mdbootstrap.com/img/Mockups/Transparent/Small/iphone-portfolio1.png" alt="" class="z-depth-0">
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-4">

                        <!--Grid row-->
                        <div class="row mb-2">
                            <div class="col-2">
                                <i class="fa fa-2x fa-heart deep-purple-text"></i>
                            </div>
                            <div class="col-10">
                                <h5 class="font-weight-bold mb-4">Amusant</h5>
                                <p class="grey-text">Jouer a toujours été le meilleur moyen d'apprendre. Alors jouons avec ces schémas</p>
                            </div>
                        </div>
                        <!--Grid row-->

                        <!--Grid row-->
                        <div class="row mb-2">
                            <div class="col-2">
                                <i class="fa fa-2x fa-flash purple-text"></i>
                            </div>
                            <div class="col-10">
                                <h5 class="font-weight-bold mb-4">Rapide</h5>
                                <p class="grey-text">En manipulant  les schémas a ta guise tu les apprendra plus vite que ton ombre</p>
                            </div>
                        </div>
                        <!--Grid row-->

                        <!--Grid row-->
                        <div class="row mb-2">
                            <div class="col-2">
                                <i class="fa fa-2x fa-magic pink-text"></i>
                            </div>
                            <div class="col-10">
                                <h5 class="font-weight-bold mb-4">Amusant</h5>
                                <p class="grey-text">Impose toi des defis a toi meme ou tout simplement a d'autres utilisateur pour gagner des prix</p>
                            </div>
                        </div>
                        <!--Grid row-->

                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

            </section>
            <!--/Section: Features v.4-->

            <hr class="mb-5">

            <!--Section: Testimonials v.3-->
            <section class="section team-section text-center pb-3 wow fadeIn" data-wow-delay="0.3s">

                <!--Section heading-->
                <h1 class="font-weight-bold text-center h1 my-5">Testimonials</h1>
                <!--Section description-->
                <p class="text-center grey-text mb-5 mx-auto w-responsive">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam.</p>

                <!--Grid row-->
                <div class="row text-center">

                    <!--Grid column-->
                    <div class="col-md-4 mb-4">

                        <div class="testimonial">
                            <!--Avatar-->
                            <div class="avatar mx-auto">
                                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(1).jpg" class="rounded-circle z-depth-1 img-fluid">
                            </div>

                            <!--Content-->
                            <h4 class="font-weight-bold mt-4 mb-3">Anna Deynah</h4>
                            <h6 class="mb-3 font-weight-bold grey-text">Web Designer</h6>
                            <p><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur quae quaerat ad velit ab hic tenetur.</p>

                            <!--Review-->
                            <div class="orange-text">
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star-half-full"> </i>
                            </div>
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-4 mb-4">
                        <div class="testimonial">
                            <!--Avatar-->
                            <div class="avatar mx-auto">
                                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(32).jpg" class="rounded-circle z-depth-1 img-fluid">
                            </div>

                            <!--Content-->
                            <h4 class="font-weight-bold mt-4 mb-3">John Doe</h4>
                            <h6 class="mb-3 font-weight-bold grey-text">Web Developer</h6>
                            <p><i class="fa fa-quote-left"></i> Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi.</p>

                            <!--Review-->
                            <div class="orange-text">
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                            </div>
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-4 mb-4">
                        <div class="testimonial">
                            <!--Avatar-->
                            <div class="avatar mx-auto">
                                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(10).jpg" class="rounded-circle z-depth-1 img-fluid">
                            </div>
                            <!--Content-->
                            <h4 class="font-weight-bold mt-4 mb-3">Maria Kate</h4>
                            <h6 class="mb-3 font-weight-bold grey-text">Photographer</h6>
                            <p><i class="fa fa-quote-left"></i> At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.</p>

                            <!--Review-->
                            <div class="orange-text">
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star"> </i>
                                <i class="fa fa-star-o"> </i>
                            </div>

                        </div>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

            </section>
            <!--Section: Testimonials v.3-->
            
            <!--Section: Carousel-->
            <!--Carousel Wrapper-->
<div id="carousel-with-lb" class="carousel slide carousel-multi-item" data-ride="carousel">

  <!--Controls-->
  <div class="controls-top">
    <a class="btn-floating btn-secondary" href="#carousel-with-lb" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
    <a class="btn-floating btn-secondary" href="#carousel-with-lb" data-slide="next"><i class="fas fa-chevron-right"></i></a>
  </div>
  <!--/.Controls-->

  <!--Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#carousel-with-lb" data-slide-to="0" class="active secondary-color"></li>
    <li data-target="#carousel-with-lb" data-slide-to="1" class="secondary-color"></li>
    <li data-target="#carousel-with-lb" data-slide-to="2" class="secondary-color"></li>
  </ol>
  <!--/.Indicators-->

  <!--Slides and lightbox-->

  <div class="carousel-inner mdb-lightbox" role="listbox">
    <div id="mdb-lightbox-ui"></div>
    <!--First slide-->
    <div class=" carousel-item active text-center">

      <figure class="col-md-4 d-md-inline-block">
        <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(2).jpg" data-size="1600x1067">
      <img class="img-fluid " style="width: 354px;height: 236px" src="/img/schemas/schema-test-gruyere.png" alt="First slide">
        </a>
      </figure>

      <figure class="col-md-4 d-md-inline-block">
        <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(4).jpg" data-size="1600x1067">
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(4).jpg" class="img-fluid">
        </a>
      </figure>

      <figure class="col-md-4 d-md-inline-block">
        <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(6).jpg" data-size="1600x1067">
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(6).jpg" class="img-fluid">
        </a>
      </figure>

      <figure class="col-md-4 d-md-inline-block">
        <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(10).jpg" data-size="1600x1067">
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(10).jpg" class="img-fluid">
        </a>
      </figure>
      <figure class="col-md-4 d-md-inline-block">
        <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(12).jpg" data-size="1600x1067">
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(12).jpg" class="img-fluid">
        </a>
      </figure>
      <figure class="col-md-4 d-md-inline-block">
        <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(14).jpg" data-size="1600x1067">
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(14).jpg" class="img-fluid">
        </a>
      </figure>

    </div>
    <!--/.First slide-->

    <!--Second slide-->
    <div class="carousel-item text-center">

      <figure class="col-md-4 d-md-inline-block">
        <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(22).jpg" data-size="1600x1067">
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(22).jpg" class="img-fluid">
        </a>
      </figure>

      <figure class="col-md-4 d-md-inline-block">
        <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(25).jpg" data-size="1600x1067">
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(25).jpg" class="img-fluid">
        </a>
      </figure>

      <figure class="col-md-4 d-md-inline-block">
        <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(29).jpg" data-size="1600x1067">
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(29).jpg" class="img-fluid">
        </a>
      </figure>

      <figure class="col-md-4 d-md-inline-block">
        <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(31).jpg" data-size="1600x1067">
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(31).jpg" class="img-fluid">
        </a>
      </figure>
      <figure class="col-md-4 d-md-inline-block">
        <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(32).jpg" data-size="1600x1067">
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(32).jpg" class="img-fluid">
        </a>
      </figure>
      <figure class="col-md-4 d-md-inline-block">
        <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(33).jpg" data-size="1600x1067">
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(33).jpg" class="img-fluid">
        </a>
      </figure>

    </div>
    <!--/.Second slide-->

    <!--Third slide-->
    <div class="carousel-item text-center">

      <figure class="col-md-4 d-md-inline-block">
        <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(44).jpg" data-size="1600x1067">
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(44).jpg" class="img-fluid">
        </a>
      </figure>

      <figure class="col-md-4 d-md-inline-block">
        <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(45).jpg" data-size="1600x1067">
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(45).jpg" class="img-fluid">
        </a>
      </figure>

      <figure class="col-md-4 d-md-inline-block">
        <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(66).jpg" data-size="1600x1067">
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(66).jpg" class="img-fluid">
        </a>
      </figure>

      <figure class="col-md-4 d-md-inline-block">
        <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(53).jpg" data-size="1600x1067">
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(53).jpg" class="img-fluid">
        </a>
      </figure>
      <figure class="col-md-4 d-md-inline-block">
        <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(56).jpg" data-size="1600x1067">
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(56).jpg" class="img-fluid">
        </a>
      </figure>
      <figure class="col-md-4 d-md-inline-block">
        <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(77).jpg" data-size="1600x1067">
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(77).jpg" class="img-fluid">
        </a>
      </figure>

    </div>
    <!--/.Third slide-->

  </div>
  <!--/.Slides-->

</div>
<!--/.Carousel Wrapper-->
            <!--Section: /Carousel-->

            <hr class="mb-5">

            <!-- Section: Pricing v.3 -->
            <section class="text-center my-5 wow fadeIn" data-wow-delay="0.3s">

              <!-- Section heading -->
              <h2 class="h1-responsive font-weight-bold text-center my-5">Our pricing plans</h2>
              <!-- Section description -->
              <p class="text-center w-responsive mx-auto mb-5 grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur veniam.</p>

              <!-- Grid row -->
              <div class="row">

                <!-- Grid column -->
                <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">

                  <!-- Card -->
                  <div class="card">

                    <!-- Content -->
                    <div class="card-body">

                      <!-- Offer -->
                      <h5 class="mb-4">Basic plan</h5>
                      <div class="d-flex justify-content-center">
                        <div class="card-circle d-flex justify-content-center align-items-center">
                          <i class="fa fa-home light-blue-text"></i>
                        </div>
                      </div>

                      <!-- Price -->
                      <h2 class="font-weight-bold my-4">59$</h2>
                      <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa pariatur id nobis accusamus deleniti cumque hic laborum.</p>
                      <a class="btn btn-light-blue btn-rounded">Buy now</a>

                    </div>
                    <!-- Content -->

                  </div>
                  <!-- Card -->

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-lg-4 col-md-6 mb-md-0 mb-4">

                  <!-- Card -->
                  <div class="card purple-gradient">

                    <!-- Content -->
                    <div class="card-body white-text">

                      <!-- Offer -->
                      <h5 class="mb-4">Premium plan</h5>
                      <div class="d-flex justify-content-center">
                        <div class="card-circle d-flex justify-content-center align-items-center">
                          <i class="fa fa-group"></i>
                        </div>
                      </div>

                      <!--Price -->
                      <h2 class="font-weight-bold my-4">79$</h2>
                      <p>Esse corporis saepe laudantium velit adipisci cumque iste ratione facere non distinctio cupiditate sequi atque.</p>
                      <a class="btn btn-outline-white btn-rounded">Buy now</a>

                    </div>
                    <!-- Content -->

                  </div>
                  <!-- Card -->

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-lg-4 col-md-6">

                  <!-- Card -->
                  <div class="card">

                    <!-- Content -->
                    <div class="card-body">

                      <!-- Offer -->
                      <h5 class="mb-4">Advanced plan</h5>
                      <div class="d-flex justify-content-center">
                        <div class="card-circle d-flex justify-content-center align-items-center">
                          <i class="fa fa-bar-chart light-blue-text"></i>
                        </div>
                      </div>

                      <!--Price -->
                      <h2 class="font-weight-bold my-4">99$</h2>
                      <p class="grey-text">At ab ea a molestiae corrupti numquam quo beatae minima ratione magni accusantium repellat eveniet quia vitae.</p>
                      <a class="btn btn-light-blue btn-rounded">Buy now</a>

                    </div>
                    <!-- Content -->

                  </div>
                  <!-- Card -->

                </div>
                <!-- Grid column -->

              </div>
              <!-- Grid row -->

            </section>
            <!-- Section: Pricing v.3 -->

            <hr class="mb-5">

            <!--Section: Contact v.2-->
            <section class="section pb-5 wow fadeIn" data-wow-delay="0.3s">

                <!--Section heading-->
                <h2 class="font-weight-bold text-center h1 my-5">Contact us</h2>
                <!--Section description-->
                <p class="text-center grey-text mb-5 mx-auto w-responsive">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam. Quia, minima?</p>

                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-8 col-xl-9">
                        <form>

                            <!--Grid row-->
                            <div class="row">

                                <!--Grid column-->
                                <div class="col-md-6">
                                    <div class="md-form">
                                            <input type="text" id="contact-name" class="form-control">
                                            <label for="contact-name" class="">Your name</label>
                                    </div>
                                </div>
                                <!--Grid column-->

                                <!--Grid column-->
                                <div class="col-md-6">
                                    <div class="md-form">
                                            <input type="text" id="contact-email" class="form-control">
                                            <label for="contact-email" class="">Your email</label>
                                    </div>
                                </div>
                                <!--Grid column-->

                            </div>
                            <!--Grid row-->

                            <!--Grid row-->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="md-form">
                                        <input type="text" id="contact-Subject" class="form-control">
                                        <label for="contact-Subject" class="">Subject</label>
                                    </div>
                                </div>
                            </div>
                            <!--Grid row-->

                            <!--Grid row-->
                            <div class="row">

                                <!--Grid column-->
                                <div class="col-md-12">

                                    <div class="md-form">
                                        <textarea type="text" id="contact-message" class="md-textarea form-control" rows="3"></textarea>
                                        <label for="contact-message">Your message</label>
                                    </div>

                                </div>
                            </div>
                            <!--Grid row-->

                        </form>

                        <div class="text-center text-md-left my-4">
                            <a class="btn btn-light-blue btn-rounded">Send</a>
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-4 col-xl-3">
                        <ul class="contact-icons text-center list-unstyled">
                            <li><i class="fa fa-map-marker fa-2x"></i>
                                <p>San Francisco, CA 94126, USA</p>
                            </li>

                            <li><i class="fa fa-phone fa-2x"></i>
                                <p>+ 01 234 567 89</p>
                            </li>

                            <li><i class="fa fa-envelope fa-2x"></i>
                                <p>contact@mdbootstrap.com</p>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->

                </div>

            </section>
            <!--Section: Contact v.2-->

        </div>

    </main>
    <!--Main Layout-->
{% endblock %}
