{% extends 'home.html.twig' %}

{% block title %}Edit QuestionAnswer{% endblock %}

{% block body %}
    <h1>Edit QuestionAnswer</h1>

    {{ include('question_answer/_form.html.twig', {'button_label': 'Update'}) }}


{% endblock %}
