{% extends 'home.html.twig' %}

{% block title %}New QuestionAnswer{% endblock %}

{% block body %}
    <h1>Create new QuestionAnswer</h1>
<div class="card">
  {{ include('question_answer/_form.html.twig') }}
  


</div>


{% endblock %}
